.batch-container {
    /* background-color: red; */
    padding: 1rem;
}

.batch-details h2 {
    font-size: 3rem;
    margin-bottom: 1rem;
}
.batch-data{
    display: flex;
    gap: 2rem;
    font-size: 2rem;
    margin-bottom: 2rem;
}


.loading-align {
    display: flex;
    justify-content: center;  /* Centers horizontally */
    align-items: center;  /* Centers vertically */
    height: 80vh;  /* Full viewport height */
    width: 100vw;  /* Full viewport width */
}
.batch-table {
    border-collapse: collapse;
    border: 2px solid black;
}

.batch-table th {
    padding: 1rem;
    font-size: 1.2rem;
    border: 2px solid black;
    user-select: none;
}

.batch-table td {
    padding: 1rem;
    text-align: center;
    border: 2px solid black;
    font-size: 1rem;
}

.batch-table .comment{
    text-align: justify;
}

.batch-chart {
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 3rem;
}
.batch-chart h3{
    font-size: 2rem;
}
.chart{
    display: flex;
    justify-content: space-around;
}
.chart img {
    height: 25rem;
}

.batch-positive {
    color: green;
    text-transform: capitalize;
    font-weight: bold;
}

.batch-negative {
    color: red;
    text-transform: capitalize;
    font-weight: bold;
}
.batch-neutral {
    color: grey;
    text-transform: capitalize;
    font-weight: bold;
}
.loading{
    margin: auto 0;
}