.batch-container {
    flex-grow: 1;
    padding: 1rem;
}

.batch-details h2 {
    font-size: 3rem;
    margin-bottom: 1rem;
}
.batch-data{
    display: flex;
    gap: 2rem;
    font-size: 2rem;
    margin-bottom: 2rem;
}


.loading-align {
    display: flex;
    justify-content: center;  /* Centers horizontally */
    align-items: center;  /* Centers vertically */
    height: 100%;
    width: 100%;
}
.batch-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.batch-table th,
.batch-table td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left; /* Centers short content */
}
.expandable{
    padding: 2px;
}
/* Comment Column */
.batch-comment {
    max-width: 300px; /* Adjust as needed */
    word-wrap: break-word;
    white-space: normal;
    text-align: left; /* Align comments to the left */
}

/* Header */
.batch-table th {
    background: black;
    color: white;
}
.batch-chart h3{
    font-size: 2rem;
}
.chart{
    display: flex;
    justify-content: space-around;
}
.chart img {
    height: 25rem;
}

.batch-positive {
    color: green;
    text-transform: capitalize;
    font-weight: bold;
}

.batch-negative {
    color: red;
    text-transform: capitalize;
    font-weight: bold;
}
.batch-neutral {
    color: grey;
    text-transform: capitalize;
    font-weight: bold;
}
.loading{
    margin: auto 0;
}